<div class="container mt-4">
    @if (isLoading()) {
      <p>Loading...</p>
    } @else {
      <div class="card">
        <div class="row g-0">
          <div class="col-md-4">
            <img [src]="product().thumbnail" class="img-fluid rounded-start" [alt]="product().title" />
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ product().title }}</h5>
              <p class="card-text">{{ product().description }}</p>
              <p class="card-text"><strong>Price:</strong> ${{ product().price }}</p>
              <button routerLink="/" class="btn btn-secondary mt-3">⬅ Back</button>
            </div>
          </div>
        </div>
      </div>
    }
  </div>
  