<div class="container mt-4">

    @if (isLoading()) {
      <p>Loading...</p>
    } @else {
      <div class="row">
        @for (product of products(); track product.id) {
          <div class="col-md-4 mb-3">
            <div class="card h-100">
              <img [src]="product.thumbnail" class="card-img-top" [alt]="product.title">
              <div class="card-body">
                <h5 class="card-title">{{ product.title }}</h5>
                <p class="card-text">{{ product.description }}</p>
                <p class="fw-bold">$ {{ product.price }}</p>
                <button [routerLink]="['/product', product.id]" class="btn btn-primary">View</button>
              </div>
            </div>
          </div>
        }
      </div>
    }
  
  </div>
  